#cabecalho {
    background: #141414;
    color: #ffffff;    
    position: fixed;
    top: 0;
    right: 0;
    left: 150px;
    height: 34px;
}

.cabecalho-titulo {
    font-size: 32px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main { 
    top: 30px;
}