body {    
    background:#78c0ff;
}

#menu {    
    background: #141414;
    position: fixed;
    width: 150px;
    left: 0;
    bottom: 0;
    top: 0;

}

.menu-basico {
    box-sizing: border-box;
}

.menu-basico-cabecalho{
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: .5em 1em;
    color: #ffffff;    
    background-color: rgb(56, 45, 209);
}

.menu-lista{    
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;

}

.menu-link {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: .5em 1em;
    color: #ffffff
}

.menu-link:hover {
    background-color: rgb(56, 45, 209);
}

.menu-item-selecionado {    
    background-color: rgb(56, 45, 209);
    border-top: 1px solid #333;
}

.menu-item-escondido {    
    list-style: none;
    position: relative;
    display: none ; 
}

.menu-item-escondido {
    /*display: none;*/
    padding: .5em 1em;
}

/* MAIN DIV */

#main {
    position: fixed;
    right: 5px;
    left: 155px;
}

/* cabeçalho */

#cabecalho {
    background: #141414;
    color: #ffffff;    
    position: fixed;
    top: 0;
    right: 0;
    left: 150px;
    height: 34px;
}

.cabecalho-titulo {
    font-size: 32px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main { 
    top: 50px;
}